<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <clear />
  <add name="default" connectionString="Server=localhost;Database=onlyoffice;User ID=root;Port=3306;Password=onlyoffice;Pooling=True;Character Set=utf8;AutoEnlist=false;SSL Mode=None;AllowPublicKeyRetrieval=True;" providerName="MySql.Data.MySqlClient" />
</connectionStrings>